@charset "utf-8";
/* CSS Document */


*{
	font-family: 'Montserrat', kaiti,sans-serif;
	box-sizing:border-box;
	color:#565656;
	}
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
	background-color: #fcfbfa;
}
a {
	text-decoration:none;}
a:hover{
	transition:0.15s ease-in-out;
	cursor:pointer;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #dddddd inset !important;
}
input.tele-input:-webkit-autofill,
input.tele-input:-webkit-autofill:hover, 
input.tele-input:-webkit-autofill:focus, 
input.tele-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #dddddd inset !important;
}
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
	
/*Start */
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
.landing-first-div{
	background-image:url(../img/first-bg.jpg);
	background-size:cover;
	min-height: 100vh;}
.logo-img {
    width: 50px;
}
.header {
    padding-top: 10px;
    padding-bottom: 5px;
	background-color: #fcfbfa;
}
.menu-padding {
    margin-left: 20px;
	font-weight: 700;
}
.green-text, .green-text-a {
    color: #017b97;
}
.green-text-a:hover{
	transition:0.15s ease-in-out;
	color:#005265;	
}
.right-menu-div {
    margin-top: 18px;
}
.dark-text{
	color:#3a3a3a;
}
.dark-text2{
	color:#3f3f3f;
}
.h1-title {
    font-weight: 800;
    font-size: 42px;
}
.first-h1{
	padding-top: calc(50vh - 220px);
    margin-top: 0;
	width: 60%;
}
.h1-p {
    font-size: 27px;
}
.white-button {
    font-weight: 700;
    background-color: white;
    width: 300px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 0;
    border-radius: 5px;
}
.white-button:hover{
	background-color:#017b97;
	transition:0.15s ease-in-out;
	color:white;
	cursor:pointer;
}
.white-button:hover a{
	color:white;}
.distance {
    margin-top: 75px;
}
.three-img--top {
	width: 90px;
}
.sub-title {
    font-weight: 700;
    font-size: 27px;
}
.three-div{
	float:left;
	width:32%;
	padding-top: 30px;}
.middle-three{
	margin-left:2%;
	margin-right:2%;}
.three-img {
    width: 35%;
}
.desc-p {
    font-weight: 700;
    font-size: 21px;
}
.first-cert-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
	margin-top: 50px;
}
.two-cert-div {
    width: 47%;
    float: left;
}

.second-two-cert-div {
    margin-left: 6%;
}

.last-div{
	background-image:url(../img/last-bg.jpg);
	background-size:cover;
	min-height:800px;}
.hover-white:hover{
	color:white;}
.last-h1 {
    padding-top: calc(400px - 180px);
	margin-bottom: 70px;
}
.uh-footer {
        margin-top: -20px;
    margin-bottom: 0;
    background-color: #017b97;
	padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}
.grey-bg{
	background-image:url(../img/grey-bg2.png);
	background-size:contain;
	background-repeat:no-repeat;
	background-position:top;
	overflow:hidden;
	width: 100%;
    margin-left:0;
}
.distance2{
	margin-top:125px;}
.menu-green{
	background-color: rgba(124, 209, 209, 0.5);	
}

/*Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 40px;
  border: 1px solid #888;
  width: 40%;
  height: 70vh;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}


.close-css {
    color: #ffffff;
    background-color: #66d0c4;
    border-radius: 35px;
    line-height: 40px;
    position: absolute;
    padding: 10px;
    right: 28vw;
    font-size: 70px;
    font-weight: bold;
    margin-top: -5.5vh;
}

.close-css:hover,
.close-css:focus {
  background-color:#017b97;
  color:white;
  text-decoration: none;
  cursor: pointer;
}
.form-p {
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 25px;
}
.input-name {
    padding: 8px 12px;
    border: 0;
    background-color: #fbfbfb;
    width: 100%;
    border-radius: 5px;
}
.input-message {
    min-height: 100px;
}
.radio1 {
    min-height: 50px;
	margin-left:0;
}
.opt-msg {
    width: calc(100% - 17px);
    float: left;
	padding-left: 10px}
.input-submit {
    background-color: #66d0c4;
    border: 0;
    width: 300px;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
	margin-top:30px;
	margin-bottom:20px;
	
}
.input-submit:hover{
    background-color: #017b97;	
	transition:0.15s ease-in-out;
}
.menu-icon{
	display:none;}
.menu-img {
    height: 20px;
}
.menu-img:hover{
	opacity:0.85;
	transition:0.15s ease-in-out;}
.menu-p-a {
    font-size: 21px;}
.menu-p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu-modal-content{
	height:auto !important;}
.menu-modal-css{
	padding-top:calc(50vh - 170px) !important;
	
}
.last-h1 {
    padding-top: 220px;}
.mattress-modal-content{
	width: 80% !important;
    height: 80vh !important;
	padding: 0;
	position:relative;
	margin-left:10%;	

}
.mattress-modal-css{
	padding-top:10vh !important;}
.close-mattress2 {
    right: 8vw !important;
	margin-top: -3vh !important;
	z-index:100;
}
.modal-left-div {
    float: left;
    height: 100%;
	width: 50%;
	background-size:cover;
	background-position:center;
}
.modal-right-div {
    float: right;
    width: 50%;
    padding: 20px 40px;
	height: 79.8vh;
    overflow-y: auto;
}
.service-ul {
    padding-left: 20px;
    margin-bottom: 25px;
}
.service-li {
    margin-bottom: 25px;
}
.mattress-bg{
	background-image:url(../img/mattress.jpg);
	background-position:bottom;}
.room-bg{
	background-image:url(../img/room.jpg);}	
.curtain-bg{
	background-image:url(../img/curtain.jpg);}	
.carpet-bg{
	background-image:url(../img/carpet.jpg);}	
.sofa-bg{
	background-image:url(../img/sofa.jpg);}	
.maid-bg{
	background-image:url(../img/maid.jpg);
	background-position:left;}		
.arrow-span {
    position: absolute;
    top: calc(50vh - 25px);
}
.right-arrow {
    right: 0;
}
.left-arrow{
	left:0;}
.animated-p {
    font-weight: 700;
    margin-bottom: 50px;
}
.animated-div {
    margin-top: 80px;
	width: 60%;
}
.animated-img{
	width:100%;}
.cleanliness{
	width: 50%;}
.carousel-img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.carousel-div{
	margin-top:70px;}
.slick-prev {
    left: 20px;
	background:url(../img/back32.png);
	width:32px;
	height:32px;
	z-index:99 !important;}
.slick-next {
    right: 20px;
	background:url(../img/next32.png);
	width:32px;
	height:32px;	}
.slick-prev:hover, .slick-next:hover{
	opacity:0.85;
	cursor:pointer;}
.slick-prev:before {
    content:url(../img/back32.png);
}
.slick-next:before {
    content:url(../img/next32.png);
}
.product-p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.same-padding {
    padding-left: 10%;
    padding-right: 10%;
}
.three-div2 {
    float: left;
    width: 28%;
}
.middle-three-2{
	margin-left:8%;
	margin-right:8%;}
.opacity-hover:hover{
	transition:.15s ease-in-out;
	opacity:0.75;
	cursor:pointer;}
.carousel-img:hover{
	cursor:grab;}
.social-icon1{
	margin-right:25px;}
.social-icon{
	width:45px;}
.social-media-p {
    margin-top: 60px;
}
.iframe-video{
	min-height:500px;
	
}
.test-p{
	margin-bottom:0;}
.urban-bg{
	background-image:url(../img/urban-bg.png);
	background-size:contain;}
.grey-bg2{
	background-color:#f0f1f2;	
}
.sidebar-li p{
	color:white;}
.close-status-css {
    right: 23.5% !important;
}
.changed-header{
	background-color:#019ee2;}
/* Overwrite */
.minheight{
	min-height:calc(100vh - 25px); }
.index-menu{
	display:block;}
.padding-bottom50{
	padding-bottom:50px;}
.margin-top0{
	margin-top:0 !important;}
@media all and (max-height: 700px){
.first-h1 {
    padding-top: calc(50vh - 120px);}	
}
@media all and (max-height: 470px){
.first-h1 {
    padding-top: calc(50vh - 100px);
}	
}
@media all and (max-width: 1500px){
.last-div{
    min-height: 500px;	
}
.last-h1 {
    padding-top: 120px;}
.iframe-video{
	min-height:340px;	
}
}
@media all and (max-width: 1400px){
.opt-msg {
    font-size: 15px;
}
.animated-div{
	width:80%;}	
.three-img--top {
    width: 80px;
}
.three-div{
	padding-top:20px;}
.sub-title{
	margin-top:10px;}
.iframe-video{
	min-height:500px;
}
.iframe-video {
    min-height: 470px;
}
}
@media all and (max-width: 1300px){
.first-h1{
    width: 75%;	
}	
.cleanliness {
    width: 80%;
}
}
@media all and (max-width: 1250px){
.three-img {
    width: 45%;
}	
}
@media all and (max-width: 1200px){
.three-img--top {
    width: 65px;
}
.iframe-video {
    min-height: 400px;
}
}
@media all and (max-width: 1136px){
.last-h1 {
    padding-top: 90px;
}
}
@media all and (max-width: 1100px){
.modal-content{
    width: 60%;	
}	
.close-css{
	right: 17.5vw;	
	line-height: 30px;
	font-size: 55px;
	margin-top: -4.5vh;
}
.opt-msg {
    font-size: 14px;
}	
.radio1{
	margin-top: -1px;	
}
.animated-div {
    width: 100%;
}
.iframe-video {
    min-height: 500px;
}

}
@media all and (max-width: 1050px){
.h1-title{
    font-size: 32px;	
}	
.h1-p {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 15px;
}	
.distance2 {
    margin-top: 80px;
}
.sub-title{
	font-size:24px;}
.desc-p {
    font-weight: 700;
    font-size: 18px;
}
.last-h1 {
    padding-top: 120px;
}
}
/*@media all and (max-width: 1000px){
.landing-first-div{
	min-height: 400px;	
}
.first-h1 {
    padding-top: 120px !important;}	
}*/
@media all and (max-width: 1000px){
.social-icon {
    width: 38px;
}

}
@media all and (max-width: 960px){
.first-h1 {
    width: 85%;
}
.desc-p{
	font-size: 18px;	
}
.sub-title{
	font-size: 24px;	
}
}
@media all and (max-width: 900px){
.last-div{
	min-height: 350px;	
}
.last-h1 {
    padding-top: 100px;
    margin-bottom: 40px;
}	
.modal-left-div {
    float: none;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.mattress-bg{
    background-position: bottom;	
}
.modal-right-div {
    float: none;
    width: 100%;
    height: auto;}
.cleanliness {
    width: 100%;
}
.three-div2 {
    float: none;
    width: 65%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 50px;
}
.last-h1 {
    padding-top: 80px;}
.social-media-p {
    margin-top: 30px;
}
.index-menu .green-text-a {
    font-size: 14px;
    margin-left: 10px;
}
.close-status-css {
    right: 10% !important;
}
}
@media all and (max-width: 865px){
.last-div {
    min-height: 400px;
}

}
@media all and (max-width: 860px){
.three-img {
    width: 60%;
}
}
@media all and (max-width: 850px){
.modal-content {
    width: 75%;
}
.close-css {
    right: 9.5vw;
}	
.form-p{
	font-size:14px;
}	
.arrow-img {
    width: 30px;
}
.last-div {
    min-height: 350px;
}
.last-h1 {
    padding-top: 50px;
}
.iframe-video {
    min-height: 400px;
}
}
@media all and (max-width: 840px){
.cn-menu .menu-padding{
	font-size: 14px;	
}
.cn-menu .logo-img {
    width: 35px;
}
.cn-menu .right-menu-div {
    margin-top: 5px;
}
}
@media all and (max-width: 830px){
.last-h1{
	font-size:27px;}
}
@media all and (max-width: 800px){
.logo-img {
    width: 30px;
}
.menu-padding{
	font-size: 12px;
	margin-left: 10px;
}
.right-menu-div {
    margin-top: 6px;
}
}
@media all and (max-width: 780px){
.iframe-video {
    min-height: 340px;
}

}
@media all and (max-width: 730px){
.urban-bg {
    background-image:none;}	
}
@media all and (max-width: 720px){
.last-h1 {
    padding-top: 50px;
}
}
@media all and (max-width: 700px){
.modal-content{
	height: 80vh;	
}	
.modal{
	padding-top: 10vh;	
}	
.close-css{
	margin-top: -5.5vh;	
}
.last-h1 {
    padding-top: 85px;}
.three-div{
	width:48%;}
.middle-three {
    margin-left: 0;
    margin-right: 0;
}
.second-three {
    margin-left: 4%;
}
.grey-bg {
    background-image: url(../img/grey-bg.png);}
.last-h1 {
    padding-top: 60px;
}
.index-menu .green-text-a {
    font-size: 12px;}
.mobile-bg-color{
	background-color: #019ee2;
}
}
@media all and (max-width: 650px){
.first-h1 {
    width: 100%;
	text-align:center;
}
.h1-p{
	text-align:center;}
.first-white-div{
	margin-left:auto;
	margin-right:auto;}
}
@media all and (max-width: 630px){
.cn-menu .menu-padding {
    font-size: 12px !important;
}
.cn-menu .logo-img {
    width: 30px;
}
.cn-menu .right-menu-div {
    margin-top: 2px;
}
}
@media all and (max-width: 620px){
.review-iframe {
    width: 100%;}
}
@media all and (max-width: 619px){
.iframeb6 {
    height: 180px;
}	
}
@media all and (max-width: 600px){
.res-div{
	text-align:center;}	
.contact-h2{
	text-align:center;}	


.second-two-cert-div{
	margin-left:0;}
.two-cert-div {
    width: 60%;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.first-cert-div, .two-cert-div {
	margin-bottom:50px;	
}
.modal-right-div{
	padding: 0px 20px;	
}
.arrow-img {
    width: 20px;
}
.service-title {
    text-align: center;
}
.service-li{
    font-size: 15px;	
}

.iframe-video {
    min-height: 300px;
}
.menu-padding{
	display:none;}
.menu-icon{
	display:block;}
}


@media all and (max-width: 570px){
.iframe1a {
    height: 220px;
}

}
@media all and (max-width: 568px){
.iframe2 {
    height: 760px;
}
}
@media all and (max-width: 555px){
.iframe1d {
    height: 220px;
}
}
@media all and (max-width: 550px){
.first-cert-div {
    width: 80%;}
.two-cert-div {
    width: 80%;}	
.mattress-modal-css {
    padding-top: 5vh !important;
}
.mattress-modal-content{
	height: 90vh !important;	
}
.close-status-css {
    right: 5% !important;
}
}
@media all and (max-width: 540px){
.iframe1b {
    height: 220px;
}
}
@media all and (max-width: 515px){
.iframe1c {
    height: 200px;
}

}
@media all and (max-width: 500px){
.opt-msg {
    font-size: 13px;
}	
.modal-content{
	padding: 10px 25px;
	width: 85%;
}	
.h1-title {
    font-size: 27px;
}
.close-css {
    right: 3.5vw;
    margin-top: -3.5vh;
}
.mattress-modal-content{
	padding-left:0 !important;
	padding-right:0 !important;
	padding-top:0 !important;}
.carousel-img{
	width:65%;}
.three-div2{
	width:75%;}
.iframe-video {
    min-height: 250px;
}
}
@media all and (max-width: 498px){
.iframeb8 {
    height: 636px;
}

}
@media all and (max-width: 481px){
.iframe2 {
    height: 775px;
}
}
@media all and (max-width: 480px){
.desc-p {
    font-size: 15px;
}
.sub-title {
    font-size: 21px;
}
}
@media all and (max-width: 475px){
.iframeb2 {
    height: 180px;
}
}
@media all and (max-width: 470px){

.uh-footer{
	font-size: 12px;
}
.iframeb7 {
    height: 199px;
}
}
@media all and (max-width: 460px){
.iframe1a {
    height: 240px;
}

}
@media all and (max-width: 450px){
.service-li {
    font-size: 14px;
}
.animated-p{
    font-size: 14px;
	margin-bottom:0;	
}
.animated-div {
    margin-top: 50px;}
.iframe1d {
    height: 237px;
}
}
@media all and (max-width: 445px){
.iframe1b {
    height: 240px;
}

}
@media all and (max-width: 440px){
.input-submit{
	width: 230px;
    font-size: 14px;
}
}
@media all and (max-width: 436px){
.iframe1e {
    height: 180px;
}
}
@media all and (max-width: 434px){
.iframeb4 {
    height: 335px;
}

}
@media all and (max-width: 430px){
.three-img {
    width: 75%;
}
.desc-p {
    font-size: 15px;
	margin-bottom: 0;
}
}
@media all and (max-width: 428px){
.iframeb6 {
    height: 199px;
}
}
@media all and (max-width: 421px){
.iframe2 {
    height: 795px;
}
}
@media all and (max-width: 400px){
.contact-h2{
	margin-top:0;}	
.iframe-video {
    min-height: 180px;
}	
}
@media all and (max-width: 395px){
.iframe1c {
    height: 220px;
}
}
@media all and (max-width: 390px){
.iframe1a {
    height: 260px;
}
}
@media all and (max-width: 383px){
.iframe1d {
    height: 257px;
}
.iframe2 {
    height: 815px;
}
}
@media all and (max-width: 381px){
.iframeb8 {
    height: 655px;
}
}
@media all and (max-width: 380px){
.first-h1{
	font-size:24px;}
.h1-p {
    font-size: 21px;
    margin-top: 25px;
}
.uh-footer {
    font-size: 10px;
	padding-top: 5px;
    padding-bottom: 5px;
}
}
@media all and (max-width: 375px){
.three-div {
    width: 100%;
    float: none;
	padding-bottom: 30px;
}
.second-three {
    margin-left: 0;
}
.three-img {
    width: 60%;
}
.iframe2 {
    height: 800px;
    margin-bottom: 8px;
}
}
@media all and (max-width: 374px){
.iframeb3 {
    height: 180px;
}
}
@media all and (max-width: 370px){
.contact-white-button{
	width:100%;}
.first-cert-div, .two-cert-div {
    width: 100%;}
.iframe1b {
    height: 260px;
}
.iframe2aa {
    height: 630px;
}
}
@media all and (max-width: 365px){
.iframe1a {
    height: 275px;
}
}
@media all and (max-width: 360px){
.first-white-div{
	width:100%;}
.last-h1{
	font-size: 24px !important;
}
.iframe2 {
    height: 790px;
	margin-bottom:0;}
}
@media all and (max-width: 350px){
.last-div {
    min-height: 300px;
}
.last-h1{
	font-size: 22px !important;
	padding-top: 35px;}
.three-div2 {
    width: 90%;
}
}
@media all and (max-width: 346px){
.iframe1d {
    height: 277px;
}
}
@media all and (max-width: 345px){
.iframe2aa {
    height: 600px;
}
}
@media all and (max-width: 341px){
.iframe1c {
    height: 240px;
}

}
@media all and (max-width: 340px){
.input-submit{
	width: 100%;	
}	
.iframe2 {
    height: 760px;
}
.iframeb2 {
    height: 198px;
}	
}
@media all and (max-width: 330px){
.iframe1b {
    height: 275px;
}
.iframeb7 {
    height: 218px;
}
}
@media all and (max-width: 330px){
.iframeb6 {
    height: 218px;
}
}
@media all and (max-width: 320px){
.iframe1a {
    height: 295px;
}

}
@media all and (max-width: 319px){
.iframeb8 {
    height: 674px;
}
}
@media all and (max-width: 310px){
.input-submit{
    font-size: 13px;
}
}
@media all and (max-width: 304px){
.iframe1d {
    height: 297px;
}

}
@media all and (max-width: 301px){
.iframe1b {
    height: 295px;
}	
}